{% extends 'base.html' %}

{% block body %}
<div class="container-fluid" style="margin-top:50px;">
  <h1 style = "text-align: center;"> Collaborations</h1>
  <h5 style = "text-align: center; margin-bottom:40px">Teamwork begins by building trust...</h5>

    <h2 style="text-align: center;"> Academic Collaborations</h2>

<div class="row">

    <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">University of Toronto</h5>
      </div>
    </div>

    <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-10.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">The University Of New South Wales</h5>
      </div>
    </div>

    <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-11.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Indian Institute of Technology (B.H.U)</h5>
      </div>
    </div>

  <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-9.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">The University Of Sheffield</h5>
      </div>
    </div>

  <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-12.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">West Bengal University of Animal & Fishery Sciences</h5>
      </div>
    </div>

    <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-13.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Raja Ramanna Centre for Advanced Technology</h5>
      </div>
    </div>



</div>

    <h2 style="text-align: center;"> Industrial Collaborations</h2>

<div class="row">

     <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">3Dresyns</h5>
      </div>
    </div>

    <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">INDAG Rubber Ltd.</h5>
      </div>
    </div>


    <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HASETRI, J. K. Tyre</h5>
      </div>
    </div>

    <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ANTS Ceramics Pvt Ltd.</h5>
      </div>
    </div>

  <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">3Dware</h5>
      </div>
    </div>

    <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/collab/blog-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Anton Paar India Pvt. Ltd.</h5>
      </div>
    </div>

</div>
</div>

{% endblock %}