{% extends 'base.html' %}

{% block body %}
<section class="contactsdiv sectiondiv" style="padding-top: 50px; padding-bottom: 20px; background-color: coral;">
	<div role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-md-4 animate-box">
					<h3 class="section-title">Our Address</h3>
					<h5>BIONAC Lab</h5>
					<p> Room No-17, Ground Floor, Academic block - 1, Manipal University Jaipur, Jaipur-Ajmer Express Highway, Dehmi Kalan, near GVK Toll Plaza, Jaipur, Rajasthan 303007.</p>
					<h5>EnBioMatRIC</h5>
					<p>Room No-10, Ground Floor, New academic block, Manipal University Jaipur, Jaipur-Ajmer Express Highway, Dehmi Kalan, near GVK Toll Plaza, Jaipur, Rajasthan 303007.</p>
				</div>

				<div class="col-md-4 animate-box">
					<h3 class="section-title">Contact us</h3>
					<ul class="contact-info">


						<li><i class="icon-phone"></i>Dr. Sanchita Bandyopadhyay-Ghosh: +91 8910015595</li>
						<li><i class="icon-envelope"></i><a href="mailto:sanchitab.ghosh@jaipur.manipal.edu">sanchitab.ghosh@jaipur.manipal.edu</a></li>
						<li><i class="icon-phone"></i>Subrata Bandhu Ghosh: +91 8777856181</li>
						<li><i class="icon-envelope"></i><a href="mailto:subratab.ghosh@jaipur.manipal.edu">subratab.ghosh@jaipur.manipal.edu</a></li>
					</ul>

				</div>
				<div class="col-md-4 animate-box">
					<h3 class="section-title">Drop us a line</h3>
					<i class="icon-coffee"> Lets grab a cup of coffee and collaborate...</i>
					<form class="contact-form">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="name" class="form-control" id="name" placeholder="Name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
						</div>

					</form>
				</div>
			</div>

		</div>
	</div>
</section>


<div class="container4">
<div class="row">
	<div class="col" style="width:100%; border-collapse:collapse; table-layout:fixed; " >
      <img src="static/images/rugved_chavan.jpg" class="card-img-top" alt="..." style="float: right; border-radius: 10%;width: 300px;  height: auto;  margin: 2vw 5vw 1vw 5vw; background-color: rgb(255,215,0);">
	</div>
	<div class="col" style="width:100%; border-collapse:collapse; table-layout:fixed;">
		<h1 style="border-radius: 100%;  height: auto;  margin: 50px 25px 2px 45px;"> Rugved Chavan</h1>
		<h5 style="border-radius: 100%; height: auto;  margin: 0px 25px 25px 45px;"> Web Developer</h5>
		<p style=" border-radius: 100%; height: auto;  margin: 0px 25px 25px 45px;" >Aspiring AL / ML / IoT / Robotics Specialist Equipped with good technical skills, focused on providing optimized solutions to real world problems. I am a motivated individual seeking the position of IT Professional intern, intent on working in a challenging and dynamic environment, that oﬀers opportunities for growth.</p>
	</div>
</div>
	</div>

{% endblock %}
