{% extends 'base.html' %}
{% block body %}


<div class="container4" >
    <div class="container-fluid">



        <h1 style="text-align: center; margin-top: 25px;"> Laboratory Equipment & Facilities </h1>

        <img src="static/images/equipments3.png" alt="Workplace" usemap="#workmap" width="1280" height="720" style="display: block; margin-left: auto; margin-right: auto;">
            <map name="workmap">
            <area target="" alt="" title="Moving die rheometer" href="" coords="210,422,3,59" shape="rect">
            <area target="" alt="" title="heeee" href="" coords="544,392,213,8" shape="rect">
             <area target="" alt="" title="" href="" coords="798,375,549,7" shape="rect">
            <area target="" alt="" title="" href="" coords="1019,363,812,72" shape="rect">
            <area target="" alt="" title="" href="" coords="1268,409,1021,65" shape="rect">
            <area target="" alt="" title="" href="" coords="266,712,6,446" shape="rect">
             <area target="" alt="" title="" href="" coords="648,710,276,420" shape="rect">
            <area target="" alt="" title="" href="" coords="948,713,695,411" shape="rect">
            <area target="" alt="" title="" href="" coords="948,713,695,411" shape="rect">
        </map>

        <img src="static/images/equipments2.png" alt="Workplace" usemap="#workmap" width="1280" height="720" style="display: block; margin-left: auto; margin-right: auto;">
            <map name="workmap">
            <area target="" alt="" title="Moving die rheometer" href="" coords="210,422,3,59" shape="rect">
            <area target="" alt="" title="heeee" href="" coords="544,392,213,8" shape="rect">
             <area target="" alt="" title="" href="" coords="798,375,549,7" shape="rect">
            <area target="" alt="" title="" href="" coords="1019,363,812,72" shape="rect">
            <area target="" alt="" title="" href="" coords="1268,409,1021,65" shape="rect">
            <area target="" alt="" title="" href="" coords="266,712,6,446" shape="rect">
             <area target="" alt="" title="" href="" coords="648,710,276,420" shape="rect">
            <area target="" alt="" title="" href="" coords="948,713,695,411" shape="rect">
            <area target="" alt="" title="" href="" coords="948,713,695,411" shape="rect">
        </map>
    </div>
</div>

{% endblock %}

