{% extends 'base.html' %}

{% block body %}
<div class="container4">
<div class="container-fluid" style="margin-top:50px;">
  <h1 style = "text-align: center;">Latest News</h1>
  <h5 style = "text-align: center; margin-bottom:40px">Lets stay updated...</h5>

<div class="row">

    <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/news1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: orange;">Mr Vijay Shankar Kumawat won Young Innovator`s Award</h5>
		  <p>Big congratulations to Mr Vijay Shankar Kumawat  (Faculty member-Manipal University Jaipur) for receiving the 'Young Innovator`s Award' (2nd Prize) under the mentorship of Dr. Sanchita Bandyopadhyay-Ghosh and Dr. Subrata Bandhu Ghosh for their innovation on bioinspired microporous implant! The award was presented during the InnoHEALTH 2019 conference. https://innohealth.in/young-innovators-award/
		  </p>
      </div>
    </div>

    <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/news2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: orange;">Upcoming Book : Tissue Engineering on Strategies for Organ Regeneration</h5>
      </div>
    </div>

    <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/news3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: orange;">Mr Abhijit Vyas won first prize in Manipal Students Research Colloquim in the Engineering Section organised by  Manipal University Jaipur</h5>
      </div>
    </div>

	 <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
      <img src="static/images/news5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: orange;">Research and Innovations in Manipal University Jaipur discussed in TOI (Link).</h5>
      </div>
    </div>
</div>

{% endblock %}