{% extends 'base.html' %}
{% block body %}

<div class="container4" >
     <div class="container">
        <h1 style="text-align:center; margin-top: 25px">Patents & Publications</h1>

             <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Patents
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                     <ul style="">
                     <h3 style="text-align:center; margin-top: 25px; color: blue;">Granted</h3>
                     <li>Subrata Bandhu Ghosh, Sanchita Bandyopadhyay-Ghosh and Hrishikesh Kadam, “Castor Oil based Flame Retardant Nanocomposite Foam”, <b>Patent Number 373206</b>; Date of Grant: 29th July, 2021; <b>Application Number: 201811005503</b>				</li>
					<h3 style="text-align:center; margin-top: 25px; color:orange;">Filed & Published</h3>
                     <li>Sanchita Bandopadhyay-Ghosh, Abhijit Vyas and Vijay Shankar Kumawat, “Osteoconductive Chain Silicate Bioceramic for Bone Tissue Engineering”,<b>Publication Number: 20/2020</b>; Publication Date: 15th May, 2020; <b>Application Number: 201911013971</b>.</li>
				    <li>Sanchita Bandopadhyay-Ghosh, Subrata Bandhu Ghosh, Firoz Alam Faroque, Sanyam Gautam, “Waste Ceramic Reinforced Biocomposite Tiles”, <b>Publication Number: 08/2020</b>; Publication Date: 21st Feb, 2020; <b>Application Number: 201911005558</b>.</li>
				    <li>Sanchita Bandopadhyay-Ghosh, Ravindra Kumar Saini, Anudeep Sharma, Rohit Upadhyay, Rajkaushik Borgohain, “3D- Printed Micro-filter for Fluid Filtration using Geometric Stacking”, <b>Publication Number 06/2020</b>; Publication Date: 7th Feb, 2020; <b>Application Number 201911022001</b>.</li>
				    <li>Sanchita Bandopadhyay-Ghosh, Subrata Bandhu Ghosh, Tanmay Gupta, Vivek Garg, Seema Rani and Kishore Hazarika, “Conductive Hydrogel Nanocomposite and Process of Preparation Thereof”, <b>Publication Number 03/2020</b>; Publication Date: 17th Jan, 2020; <b>Application Number: 202011000805</b>.</li>
				    <li>Sanchita Bandyopadhyay-Ghosh, Subrata Bandhu Ghosh and Kapender Phogat, “Nanocelulose based Bioactive Injectable Hydrogel for Bone Tissue Engineering, <b>Publication Number 35/2019</b>; Publication Date: 30th Aug, 2019;  <b>Application Number: 201811005521</b>.</li>
					</div>
				</ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Book Edited
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                   <ul>
						  <li>Tissue Engineering Strategies for Organ Regenerations, Editors: Naznin Sultana, Sanchita Bandyopadhyay-Ghosh and Soon Chin Fhong, CRC Press, USA, ISBN: 978-1-138-39154-3, 4th Feb, 2020.  <a href="https://www.routledge.com/Tissue-Engineering-Strategies-for-Organ-Regeneration/Sultana-Bandyopadhyay-Ghosh-Soon/p/book/9781138391543">Visit: www.routledge.com/Tissue-Engineering-Strategies-for-Organ-Regeneration/Sultana-Bandyopadhyay-Ghosh-Soon/p/book/9781138391543</a></li>
                  </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Journal Publications
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">

                    <ul>
                    <h2 style="text-align:center;">2021</h2>
                    <li>Garg, Vivek, Tanmay Gupta, Seema Rani, Sanchita Bandyopadhyay-Ghosh, Subrata Bandhu Ghosh, Laicong Qiao, and Guozhen Liu. "A hierarchically designed nanocomposite hydrogel with multisensory capabilities towards detection of human-body motion and glucose concentration." Composites Science and Technology (2021): 108894 [Scopus Q1, SCI indexed].
										<b>Impact Factor: 8.528</b>
										<a href="https://www.sciencedirect.com/science/article/pii/S0266353821002505">Link</a></li>
                    <li>A. Vyas, V. S. Kumawat, S. B. Ghosh and S. Bandyopadhyay-Ghosh, “Microstructural analysis and bioactive response of selectively engineered glass-ceramics in simulated body fluid”, Materials Technology: Advanced Performance Materials, 36(8), 2021 [Scopus Q2, SCI indexed].
                        <b> Impact Factor: 1.826</b>
                     <a href="https://www.tandfonline.com/doi/abs/10.1080/10667857.2020.1774208?needAccess=true">Link</a> </li>


                <h2 style="text-align:center;">2020</h2>
                      <li>U. Kulshrestha, T. Gupta, P. Kumawat, H. Jaiswal, S. B. Ghosh and N. N. Sharma, “Cellulose nanofibre enabled natural rubber composites: Microstructure, curing behaviour and dynamic mechanical properties”. Polymer Testing, Published June, 2020. [Scopus Q1, SCI indexed]
                        <b> Impact Factor: 3.275</b>
                        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0142941820302105">Link</a> </li>
                    <li>S. Rani, S. Bandyopadhyay-Ghosh, S. B. Ghosh and G. Liu, “Advances in sensing technologies for monitoring of bone health”, Biosensors, 10(4), 2020, 42 [Scopus Q1, SCI indexed]
                        <b>Impact Factor: 5.519 </b>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/32326229/  ">Link</a>  </li>
                    <li>K. Phogat, S. Kanwar, D. Nayak, N. Mathur, S. B. Ghosh and S. Bandyopadhyay‐Ghosh, “Nano‐enabled poly (vinyl alcohol) based injectable bio‐nanocomposite hydrogel scaffolds”, Journal of Applied Polymer Science, 137 (23), 2020, 48789 [Scopus Q1, SCI indexed].
                        <b> Impact Factor: 2.188</b>
                         <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/app.48789 ">Link</a>
                    </li>
                    <li>Vijay Shankar Kumawat, Abhijit Vyas, Sanchita Bandyopadhyay-Ghosh, Subrata Bandhu Ghosh, “Selectively modified nanostructured fluorcanasite glass-ceramic with enhanced micromechanical properties”, Journal of Non-Crystalline Solids, 547 (-), 2020, 120303 [Scopus Q1, SCI indexed].
                        <b> Impact Factor: 3.531</b>
                         <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/app.48789 ">Link</a>
                    </li>



                <h2 style="text-align:center;">2019</h2>
                    <li>R. Parai and S. Bandyopadhyay-Ghosh, “Engineered bio-nanocomposite magnesium   scaffold for bone tissue regeneration”, Journal of the Mechanical Behavior of Biomedical Materials, 96, 2019, 45-52. [Scopus Q1, SCI indexed]
										<b>Impact Factor: 3.485</b>
										<a href="https://www.sciencedirect.com/science/article/abs/pii/S175161611830345X">Link</a></li>
									<li>V. S. Kumawat, S. B. Ghosh and S. Bandyopadhyay-Ghosh, “Microporous biocomposite scaffolds with tunable degradation and interconnected microarchitecture-A synergistic integration of bioactive chain silicate glass-ceramic and poly(ε-caprolactone)”, Polymer Degradation and Stability, 165, 2019, 20-26. [Scopus Q1, SCI indexed]
										<b>Impact Factor: 3.780</b>
										<a href="https://www.sciencedirect.com/science/article/pii/S0141391019301351 ">Link</a>
										</li>
									<li>H. Kadam, S. Bandyopadhyay-Ghosh, N. Malik and S. B. Ghosh, “Biobased engineered nanocomposite foam with enhanced mechanical and thermal barrier properties”, Journal of Applied Polymer Science, 136 (7), 2019, 47063. [Scopus Q1, SCI indexed]
										<b>Impact Factor: 2.52 </b>
										<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/app.47063">Link</a></li>
									<li>T. Gupta, A. Pradhan, S. B. Ghosh and S. Bandyopadhyay-Ghosh, “Thermally Exfoliated Graphene Oxide Reinforced Stress Responsive Conductive Nanocomposite Hydrogel”, Polymers for Advanced Technologies, 30 (9), 2019, 2392-2401. [Scopus Q1, SCI indexed]
										<b>Impact Factor: 2.162 </b>
										<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/pat.4685 ">Link</a></li>
									<li>G. S. S. Adithya, G. Awale, S. B. Ghosh and S. Bandyopadhyay-Ghosh, “An Integrated Approach to Develop Engineered Metal Composite Bone Scaffold with Controlled Degradation”, Materials Technology: Advanced Performance Materials, 34(14), 2019, 858-866. [Scopus Q2, SCI indexed]
										<b> Impact Factor: 1.820</b>
										<a href="https://www.tandfonline.com/doi/abs/10.1080/10667857.2019.1639004 ">Link</a>
									</li>

									<li>U. Kulshrestha, S. B. Ghosh and N. N. Sharma, “Latex- assisted functionalized multi-walled carbon nanotube-reinforced elastomeric nanocomposites with enhanced mechanical performance”, Polymer-Plastics Technology and Materials, 58(17), 2019, 1855-1862. [Scopus Q1, SCI indexed]
										<b> Impact Factor: 1.820</b>
										<a href="https://www.tandfonline.com/doi/abs/10.1080/25740881.2019.1576201 ">Link</a>
									</li>

                        <h2 style="text-align:center;">2018</h2>

                                    <li>K. Phogat and S. Bandyopadhyay-Ghosh, “Nanocellulose mediated injectable bio-nanocomposite hydrogel scaffold microstructure and rheological properties”, Cellulose, 25 (10), 2018, 5821-5830. [Scopus Q1, SCI indexed].
                                        <b>Impact Factor: 3.917</b>
                                        <a href="https://link.springer.com/article/10.1007/s10570-018-2001-2 ">Link</a>
                                   </li>
                    </ul>
                  </div>
                </div>

         <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Conference Publications
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
          <h2 style="text-align:center;">2021</h2>
          <ul>
               <li>Gupta, Tanmay, Seema Rani, Vivek Garg, Subrata Bandhu Ghosh, and Sanchita Bandyopadhyay-Ghosh. "Piezoresistive sensor for human motion detection based on polyaniline decorated thermally exfoliated graphene oxide." Materials Today: Proceedings (2021) <a href="https://www.sciencedirect.com/science/article/pii/S2214785320334532 /">Link</a></li>
          </ul>
          <h2 style="text-align:center;">2020</h2>
          <ul>
               <li>T. Gupta, U. Kulshrestha, and S.B. Ghosh, “Green elastomeric nanocomposites for high-performance applications”, Materials Today: Proceedings, Published May 2020. <a href="https://www.sciencedirect.com/science/article/pii/S2214785320334532 /">Link</a></li>
          </ul>
          <h2 style="text-align:center;">2019</h2>
          <ul>
                <li>  D. Das, K. Phogat, S. B. Ghosh and S. Bandyopadhyay-Ghosh, “Injectable Nanocomposite Hydrogel for Bone Tissue Engineering”, 10th International Conference on Materials for Advanced Technologies (ICMAT), June, 2019, Singapore.</li>
                      <li> A. Vyas, S. B. Ghosh, S. Bandyopadhyay-Ghosh, “Fabrication of Biocomposite Bone Scaffold through Stereolithography Approach”, 10th International Conference on Materials for Advanced Technologies (ICMAT), June, 2019, Singapore.</li>
                      <li> T. Gupta, V. Gupta, S. B. Ghosh and S. Bandyopadhyay-Ghosh, “Conductive, Stress-responsive Bio-nanocomposite Hydrogel for Biosensing Applications”, 10th International Conference on Materials for Advanced Technologies (ICMAT), June, 2019, Singapore.</li>
                      <li>R. Mukherjee, S. Rani, S. B. Ghosh, S. Bandyopadhyay-Ghosh “Fluoroscence Resonance Energy Transfer (FRET) responsive Hydrogel based Optical Biosensors for detection of bone degradation and drug delivery”, 10th International Conference on Materials for Advanced Technologies (ICMAT), June, 2019, Singapore.</li>
                      <li> A. Vyas, S. B. Ghosh, S. Bandyopadhyay-Ghosh, “Biocomposite Bone Scaffold with Controlled Microarchitecture using Stereolithography based Additive Manufacturing”, International Conference on Advanced Materials (ICAM), Centre for Nanoscience and Nanotechnology (CNN), March, 2019, New Delhi, India.</li>
                      <li> K. Phogat and S. Bandyopadhyay-Ghosh, “Nano-enabled Injectable Hydrogel Scaffolds-An Investigation of Microstructural and Rheological Properties”, International Conference on Advanced Materials (ICAM), Centre for Nanoscience and Nanotechnology (CNN), March, 2019, New Delhi, India.</li>
                      <li> R. Mukherjee, S. Rani, S. B. Ghosh and S. Bandyopadhyay-Ghosh, “Hydrogel based Biosensor towards Interjecting and Monitoring of Bone Degradation under Microgravity Conditions”, International Conference on Advanced Materials (ICAM), Centre for Nanoscience and Nanotechnology (CNN), March, 2019, New Delhi, India</li>
					  <li> R. K. Saini, V. S. Kumawat, S. Bandyopadhyay-Ghosh, S. B. Ghosh, “Bioactive Glass-Ceramic Reinforced 3D Printed Biocomposite Scaffolds with Biomimicked Microstructure and Enhanced Mechanical Properties”, International Conference on Advanced Materials (ICAM), Centre for Nanoscience and Nanotechnology (CNN), March, 2019, New Delhi, India.</li>
					  <div id = "SlideC2018">
					  <li>F.A.Faroque, S. Kakati, S. Bandhopadhyay-Ghosh and S. B. Ghosh,  “Agri-residual Filler Based Bio-Composites: Synergistic Effect of Organo-sulfide Coupling Agent and Alkali Treatment on Mechanical Properties”, The 2nd International Conference on Aeronautical, Aerospace and Mechanical Engineering 26–28 July 2019, Prague, Czech Republic.</li>
          </ul>
          <h2 style="text-align:center;">2018</h2>
          <ul>
               <li>R. K. Saini, V. S. Kumawat, S. Bandyopadhyay-Ghosh and S. B. Ghosh, “Nano-ﬂuorcanasite Enabled Bio-nanocomposite Scaﬀolds Using Fused Deposition Modelling Assisted Fugitive Poly-(vinyl Alcohol) Mold”, International Conference on Advanced Materials, Energy and Environmental Sustainability, (ICAMEES 2018), UPES, December 2018, Dehradun, India.</li>
                      <li> G S S Adithya, S. Bandyopadhyay-Ghosh and S. B. Ghosh, “Metallic Bioactive Composite Scaﬀold for Orthopaedic Applications”, International Conference on Advanced Materials, Energy and Environmental Sustainability, (ICAMEES 2018), UPES, December 2018, Dehradun, India.</li>
                      <li> T. Gupta, A. Pradhan, S. B. Ghosh and S. Bandhyopadhyay-Ghosh, “Development of Conductive Bio-nanocomposite Hydrogel As Flexible Biosensors”, International Conference on Advanced Materials, Energy and Environmental Sustainability, (ICAMEES 2018), UPES, December 2018, Dehradun, India.</li>
                      <li> A. Vyas, S. Bandyopadhyay-Ghosh and S. B. Ghosh, “Modiﬁed Fluorcanasite-apatite based Glass-ceramic Biomaterials for Orthopaedic Applications”, International Conference on Advanced Materials, Energy and Environmental Sustainability, (ICAMEES 2018), UPES, December 2018, Dehradun, India.</li>
                      <li> K. Phogat, S. B. Ghosh and S. Bandyopadhyay-Ghosh, “Nanocellulose Reinforced PVA based Injectable Bio-nanocomposite Hydrogel Scaffold for Bone Tissue Regeneration", (Abstract ID: 802), 3rd International Conference on Soft Materials (ICSM-2018), MNIT-Jaipur, December 09-14, 2018. </li>
                      <li> S. Gautam, F. A. Faroque, S. Bandopadhyay-Ghosh,“An Eco-friendlly Approach to Develop Structural Bio-compositesposite from Residual Ceramic Waste Filler,” Advances in Civil Engineering and Materials (ACEM 2018) , November, 2018, Nanjing Forestry University, China.</li>
                      <li> K. Phogat and S. Bandyopadhyay-Ghosh, “Novel Bio-nanocomposite Hydrogel as Injectable Bone Scaffold”, International Conference on BioMaterials BioEngineering BioTheronostics (BioMET 2018), VIT University, July 2018, Vellore, India.</li>
                      <li> A. Vyas, A. Kaushal, S. Bandyopadhyay-Ghosh and S. B. Ghosh, “Synthesis of Novel Modified Fluorcanasite Based Glass Ceramics for Biomedical Applications”, International Conference on BioMaterials BioEngineering BioTheronostics (BioMET 2018), VIT University, July 2018, Vellore, India.</li>
                      <li> K. Phogat and S. Bandyopadhyay-Ghosh, “Rheological Characterizations of Bio-Nanocomposite Injectable Hydrogel”, International Symposium on Functional Materials: Energy and Biomedical Applications (ISFM: 2018), April, 2018, Chandigarh, India.</li>
                      <li> G S S Adithya, S. Bandyopadhyay-Ghosh and Subrata Bandhu Ghosh, “Engineered Bioactive Metallic Bone Scaffold with Controlled Degradation”, International Symposium on Functional Materials: Energy and Biomedical Applications (ISFM: 2018), April, 2018, Chandigarh, India.</li>
                      <li> S. Kanwar, S. Bandyopadhyay-Ghosh and Subrata Bandhu Ghosh, “Bio-nanocomposite Injectable Bone Scaffolds for Irregular Non Load Bearing Bone Defects”, International Symposium on Functional Materials: Energy and Biomedical Applications (ISFM: 2018), April, 2018, Chandigarh, India.</li>
                      <li> D. Nayak, S. Bandyopadhyay-Ghosh and Subrata Bandhu Ghosh, “Nano-Cellulose reinforced injectable hydrogel for bone tissue engineering”, International Symposium on Functional Materials: Energy and Biomedical Applications (ISFM: 2018), April, 2018, Chandigarh, India.</li>
                      <li> A. Pradhan, S. Bandyopadhyay-Ghosh and S. B. Ghosh, “Development of conductive nano-composite hydrogel using thermally exfoliated graphene oxide for biomedical application”, International Symposium on Functional Materials: Energy and Biomedical Applications (ISFM: 2018), April, 2018, Chandigarh, India.</li>
                      <li> S. Bandyopadhyay-Ghosh, “Innovations and strategies towards development of bio-nanocomposite bone-scaffolds”, 19th International Symposium on Eco-materials Processing and Design (ISEPD: 2018), February, 2018, Jaipur Marriott, India (Invited Talk).</li>
					</ul>
        </div>
    </div>
  </div>

              </div>
            </div>
     </div>
</div>

{% endblock %}