{% extends 'base.html' %}
{% block body %}
<div class="container4">
    <div class="container-fluid" style="margin-top:50px;">
  <h1 style = "text-align: center;"> Projects</h1>
  <h5 style = "text-align: center; margin-bottom:40px">  </h5>
    <div class="row">
        <div class="card" style="width: 18rem;  margin: 25px 25px 25px 45px;">
          <img class="card-img-top" src="static/images/project1.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Injectable Hydrogel Scaffold</p>
             
                <a class="btn btn-dark btn-sm" data-toggle="modal" data-target=".bs-example-modal-new" style="color: white">Learn more</a>
          </div>
        </div>

            <div class="card" style="width: 18rem;margin: 25px 25px 25px 45px;">
          <img class="card-img-top" src="static/images/project2.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Micro-porous Composite Bone Implant</p>
                <a data-toggle="modal" data-target=".bs-example-modal-new1" style="color: white" class="btn btn-dark btn-sm">Learn more</a>
          </div>
        </div>
            <div class="card" style="width: 18rem; margin:25px 25px 25px 45px;">
          <img class="card-img-top" src="static/images/project3.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">3D Printed Customized Bone Implants</p>
             
                <a data-toggle="modal" data-target=".bs-example-modal-new2"  style="color: white"class="btn btn-dark btn-sm">Learn more</a>
          </div>
        </div>

         <div class="card" style="width: 18rem; margin: 25px 25px 25px 45px;">
          <img class="card-img-top" src="static/images/project4.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Biodegradable Magnesium Based Bone Implant</p>
             
                <a data-toggle="modal" data-target=".bs-example-modal-new3"  style="color: white" class="btn btn-dark btn-sm">Learn more</a>
          </div>
        </div>

         <div class="card" style="width: 18rem; margin: 25px 25px 25px 45px;">
          <img class="card-img-top" src="static/images/project3.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Synthesis of Novel Chain Silicate Nano-bioceramics</p>
              
                <a data-toggle="modal" data-target=".bs-example-modal-new4" style="color: white" class="btn btn-dark btn-sm">Learn more</a>
          </div>
        </div>

         <div class="card" style="width: 18rem; margin: 25px 25px 25px 45px;">
          <img class="card-img-top" src="static/images/project6.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Hydrogel Based Bio-Sensors</p>
             
                <a data-toggle="modal" data-target=".bs-example-modal-new5" style="color: white" class="btn btn-dark btn-sm">Learn more</a>
          </div>
        </div>

        <div class="card" style="width: 18rem; margin: 25px 25px 25px 45px;">
          <img class="card-img-top" src="static/images/project7.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Bioprinting of Novel Bio-Ink</p>
             
                <a data-toggle="modal" data-target=".bs-example-modal-new6" style="color: white" class="btn btn-dark btn-sm">Learn more</a>
          </div>
        </div>


    </div>
</div>

<!-- modals of projects -->
<div class="modal fade bs-example-modal-new" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Modal Content: begins -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
       <h5 class="modal-title">Project 1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <img class="card-img-top" src="static/images/project1.jpg" alt="Card image cap">
            <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
          </div>
          <div class="col-md-6">
            <h3>Injectable Hydrogel Scaffold</h3>
            <ul>
              <li><span style="font-weight: 800">Leader:</span> Dr. Sanchita Bandyopadhyay-Ghosh</li>
              <li><span style="font-weight: 800">Research Fellows:</span> Kapender Phogat, Tanmay Gupta, Vivek Garg</li>
              <li><span style="font-weight: 800">Goal:</span>  The primary focus of this is to employ acellular strategies towards bone tissue regeneration through development of minimally invasive injectable scaffolds as well as bioinks.</li>
              <li><span style="font-weight: 800">Info:</span> Will Be Updated Soon</li>
            </ul>
            <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- Modal Content: ends -->
  </div>
</div>

<div class="modal fade bs-example-modal-new1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Modal Content: begins -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Project 2</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <img class="card-img-top" src="static/images/project2.jpg" alt="Card image cap">
            <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
          </div>
          <div class="col-md-6">
            <h3>Micro-porous Composite Bone Implant</h3>
              <ul>
                <li><span style="font-weight: 800">Leader:</span> Dr. Sanchita Bandyopadhyay-Ghosh</li>
                <li><span style="font-weight: 800">Research Fellows:</span> Vijay Shankar Kumawat , Abhijit K Vyas, Ravindra Kumar Saini</li>
                <li><span style="font-weight: 800">Goal:</span> Will Be Updated Soon</li>
                <li><span style="font-weight: 800">Info:</span> Will Be Updated Soon</li>
              </ul>
              <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
            </div>
          </div>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- Modal Content: ends -->
    </div>
</div>

<div class="modal fade bs-example-modal-new2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Modal Content: begins -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Project 3</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <img class="card-img-top" src="static/images/project3.jpg" alt="Card image cap">
            <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
          </div>
          <div class="col-md-6">
            <h3>3D Printed Customized Bone Implants</h3>
            <ul>
              <li><span style="font-weight: 800">Leader:</span> Dr. Sanchita Bandyopadhyay-Ghosh</li>
              <li><span style="font-weight: 800">Research Fellows:</span>Abhijit K Vyas, Vijay Shankar Kumawat,Vivek Garg,Ravindra Kumar Saini</li>
              <li><span style="font-weight: 800">Goal:</span> Will Be Updated Soon</li>
              <li><span style="font-weight: 800">Info:</span> Will Be Updated Soon</li>
            </ul>
            <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- Modal Content: ends -->
  </div>
</div>

<div class="modal fade bs-example-modal-new3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Modal Content: begins -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Project 4</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <img class="card-img-top" src="static/images/project4.jpg" alt="Card image cap">
            <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
          </div>
          <div class="col-md-6">
            <h3>Biodegradable Magnesium Based Bone Implant</h3>
            <ul>
              <li><span style="font-weight: 800">Leader:</span> Dr. Sanchita Bandyopadhyay-Ghosh</li>
              <li><span style="font-weight: 800">Research Fellows:</span> Mr G S S Adithya, Mr Nagarjuna Chirumamilla, Mr Smanyu</li>
              <li><span style="font-weight: 800">Goal:</span> Will Be Updated Soon</li>
              <li><span style="font-weight: 800">Info:</span> Will Be Updated Soon</li>
            </ul>
            <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- Modal Content: ends -->
  </div>
</div>

<div class="modal fade bs-example-modal-new4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Modal Content: begins -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Project 5</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <img class="card-img-top" src="static/images/download1.jpg" alt="Card image cap">
            <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
          </div>
          <div class="col-md-6">
            <h3>Synthesis of Novel Chain Silicate Nano-bioceramics</h3>
              <ul>
                <li><span style="font-weight: 800">Leader:</span> Dr. Sanchita Bandyopadhyay-Ghosh</li>
                <li><span style="font-weight: 800">Research Fellows:</span> Abhijit K Vyas, Vijay Shankar Kumawat, Vivek Garg</li>
                <li><span style="font-weight: 800">Goal:</span> Will Be Updated Soon</li>
                <li><span style="font-weight: 800">Info:</span> Will Be Updated Soon</li>
              </ul>
              <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- Modal Content: ends -->
  </div>
</div>


<div class="modal fade bs-example-modal-new5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Modal Content: begins -->
      <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
          <h5 class="modal-title">Project 6</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6 text-center">
              <img class="card-img-top" src="static/images/project6.jpg" alt="Card image cap">
              <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
            </div>

            <div class="col-md-6">
              <h3>Hydrogel Based Bio-Sensors</h3>
              <ul>
                <li><span style="font-weight: 800">Leader:</span> Dr. Sanchita Bandyopadhyay-Ghosh</li>
                 <li><span style="font-weight: 800">Research Fellows:</span>Tanmay gupta, Vivek Garg, Seema Rani</li>
                  <li><span style="font-weight: 800">Goal:</span> The long term objective of this work is development of wearable sensors towards real time health monitoring. Towards this we have developed highly tough, hierarchical semi interpretating hydrogel networks that show multi-sensory behaviour.</li>
                   <li><span style="font-weight: 800">Info:</span> Will Be Updated Soon</li>
              </ul>
              <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->

            </div>
          </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
    <!-- Modal Content: ends -->

  </div>

</div>


<div class="modal fade bs-example-modal-new6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <!-- Modal Content: begins -->
      <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
          <h5 class="modal-title">Project 7</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6 text-center">
              <img class="card-img-top" src="static/images/project7.jpg" alt="Card image cap">
              <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
            </div>

            <div class="col-md-6">
              <h3>Bioprinting of Novel Bio-Ink</h3>
              <ul>
                <li><span style="font-weight: 800">Leader:</span> Dr. Sanchita Bandyopadhyay-Ghosh</li>
                 <li><span style="font-weight: 800">Research Fellows:</span> Tanmay gupta</li>
                  <li><span style="font-weight: 800">Goal:</span> Once again the primary focus of this work is bone tissue regeneration. Towards this we are are developing a library of functional bioinks for both load bearing and non-load bearing tissues. We are exploring structural cues to augment tissue regeneration.</li>
                   <li><span style="font-weight: 800">Info:</span> Will Be Updated Soon</li>
              </ul>
              <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->

            </div>
          </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
    <!-- Modal Content: ends -->

  </div>

</div>


<div class="modal fade bs-example-modal-new7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <!-- Modal Content: begins -->
      <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
          <h5 class="modal-title">Project 8</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6 text-center">
              <img class="card-img-top" src="static/images/download1.jpg" alt="Card image cap">
              <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
            </div>

            <div class="col-md-6">
              <h3>Bone Tissue Engineering</h3>
              <ul>
                <li><span style="font-weight: 800">Leader:</span> Dr. Sanchita Bandyopadhyay-Ghosh</li>
                 <li><span style="font-weight: 800">Research Fellows:</span> Tanmay gupta, Debaditya, Raunak, Anudeep</li>
                  <li><span style="font-weight: 800">Goal:</span> Will Be Updated Soon</li>
                   <li><span style="font-weight: 800">Info:</span> Will Be Updated Soon</li>
              </ul>
              <!-- <h2 class="animate-box">Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->

            </div>
          </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
    <!-- Modal Content: ends -->

  </div>

</div>

<!-- modals of project end -->



{% endblock %}